.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center;
    color: black;
    min-height: 10vh;
    background-color: hsl(283, 14%, 65%);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add margin for spacing between buttons and other content */
}

.button1,
.button2,
.button3 {
    margin: 0 10px; /* Adjust the margin between buttons */
    background-color: hsl(283, 14%, 65%); /* Set the background color of the buttons */
    border: none; /* Remove the borders on the buttons */
}

.landingText {
    font-size: 24px;
    text-align: center;
}

.bottomSection {
    text-align: center;
    margin-top: 50px;
}

.textbox-container {
    display: inline-block;
    text-align: center;
}

.textbox {
    width: 500px;
    height: 300px;
    padding: 10px;
}

.bottomButton {
    font-size: 20px;
    margin-top: 10px;
    background-color: hsl(283, 14%, 65%); /* Set the background color of the buttons */
    color: rgb(0, 0, 0);
    border: none; /* Remove the borders on the buttons */
    margin-bottom: 10px;
}
