@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Madimi+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    min-height: 10vh;
    background-color: hsl(0, 0%, 100%);
}

.button-container {
    display: flex;
    justify-content: space-between; /* Adjusted to space buttons evenly */
    width: 100%; /* Make the button container take the full width */
    max-width: 800px; /* Set a max-width to avoid buttons spreading too far */
    margin-top: 20px;
}

.button1 {
    width: 100px;
    height: 100px;
    background-image: url(logo.png);
    background-size: cover;
    background-color: hsl(0, 0%, 100%);
    border: none;
    outline: none;

}

.button2,
.button3 {
	font-family: "Madimi One", sans-serif;
    width: 150px;
    height: 50px;
    background-color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    outline: none;
}


.landingText {
    font-size: 24px;
    text-align: center;
font-family: "PT Sans", sans-serif;
}

.bottomSection {
font-family: "PT Sans", sans-serif;
    text-align: center;
    margin-top: 50px;
}

.textbox-container {
font-family: "PT Sans", sans-serif;
    display: inline-block;
    text-align: center;
}

.textbox {
    width: 350px;
    height: 250px;
    padding: 10px;
}

.bottomButton {
    font-size: 20px;
    margin-top: 10px;
    background-color: hsl(0, 0%, 100%);
    color: rgb(0, 0, 0);
    border: none;
    margin-bottom: 10px;
}
