@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Madimi+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    background-color: hsl(0, 0%, 100%); /* Set the background color for the entire page */
}


.Banner h1 {
    margin: 0;
    color: black;
    font-size: 25px;
    text-align: center;
}

.Text {
    max-width: 50%;
    font-weigth: bold;
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;
    color: black;
    font-weight: 600;
    position: relative;
    text-align: center;
    line-height: 3; /* Adjust the line height as needed */
    
}
