@import url('https://fonts.google.com/share?selection.family=Ojuju:wght@200..800');
.Banner {

  background-color: rgb(50, 50, 85); /* Banner background color (blue) */


  background-color: hsl(283, 14%, 65%); /* Banner background color (blue) */

 
  padding: 15px; /* Padding around banner content */
  text-align: center; /* Center-align banner content */
}


.Banner h1 {
  margin: 0; /* Remove default margin */
  color: black; /* Text color */
  font-size: 50px;
  font-family: "Jacquarda Bastarda 9", serif
}

.topText {
  padding-bottom: 0;
  padding-top: 0;
  justify-content: flex;
  color: black;
  font-weight: 50;
  position: relative;
  bottom: 69vh;
  left: 80vh;
}

.bottomButton {
  position: relative;
  bottom: 5vh;
}
