@import url('https://fonts.google.com/share?selection.family=Ojuju:wght@200..800');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Madimi+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.Banner {

  background-color: hsl(0, 65%, 52%); /* Banner background color (blue) */
  text-align: center; /* Center-align banner content */


  
  /* border: 1px black;
  border-style:double;
  border-width: 10px;
  width: 30vh;
  height: auto; */

  /* background-color: hsl(0, 65%, 52%);
  border: 1px black;
  border-style:double;
  border-width: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  width: 30vh;
  position: relative;
  left: 65vh; */

}

.bottomButton {

  /* border: 1px black;
  border-style:double;
  border-width: 10px; */
  width: 30vh;
  height: auto;
  background: linear-gradient(45deg, RGB(255, 153, 153),  RGB(255, 204, 153), RGB(204, 255, 153),RGB(153, 204, 255),RGB(187, 153, 255),RGB(229, 204, 255),RGB(255, 204, 255));
  font-size: 20px;
  font-weight: bold;
  font-family: "Madimi One", sans-serif;
  margin-right: 2vw;
  /* animation: rainbow-animation 10s linear infinite; */

}

.Form {

  /* border: 1px black;
  border-style:double;
  border-width: 10px; */
  width: 30vh;
  height: auto;
  background: linear-gradient(45deg, RGB(255, 153, 153),  RGB(255, 204, 153), RGB(204, 255, 153),RGB(153, 204, 255),RGB(187, 153, 255),RGB(229, 204, 255),RGB(255, 204, 255));
  font-size: 20px;
  font-weight: bold;
  border: none;
font-family: "Madimi One", sans-serif;
  /* animation: rainbow-animation 10s linear infinite; */

}

/* @keyframes rainbow-animation {
  0% { background-position: 0 0; }
  100% { background-position: 1500% 0; }
} */


.Banner h1 {
  margin: 0; /* Remove default margin */
  color: black; /* Text color */
  font-size: 50px;
  font-family: "Madimi One", sans-serif;
}
