@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tilt+Warp&display=swap');
.Banner {
  background-color: rgb(102, 102, 102); /* Banner background color (blue) */
 
  padding: 20px; /* Padding around banner content */
  text-align: center; /* Center-align banner content */

}

.Banner h1 {
  margin: 0; /* Remove default margin */
  color: black; /* Text color */
  font-size: 50px;
  font-family: "Jacquarda Bastarda 9", serif
}