@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800');

body {
    background-color: hsl(0, 0%, 100%); /* Banner background color (blue) */
}

.topText {
    color: #000000; /* Dark text color */
    font-size: 20px;
    text-align: center;
    padding: 20px; /* Add padding for better spacing */
    font-family: "Jacquarda Bastarda 9", sans-serif;
}

.Banner h1 {
    margin: 0;
    color: #000000; /* Dark blue text color */
    font-size: 50px;
    text-align: center;
    padding: 20px; /* Add padding for better spacing */
    font-family: "Jacquarda Bastarda 9", sans-serif;
}
.QuestionText{     
	color: #000000; /* Dark text color */
	margin: 10 auto;
    font-size: 20px;
    text-align: center;
    padding: 20px; /* Add padding for better spacing */
    font-family: "Jacquarda Bastarda 9", sans-serif;
		
		
}
.Text {
    font-family: "Jacquarda Bastarda 9", sans-serif;
    max-width: 50%;
    margin: 0 auto;
    padding: 20px; /* Add padding for better spacing */
    color: #000000;
    font-weight: 400;
    position: relative;
    text-align: center;
}
