/* Global styles */
body {
  margin: 0;
  font-family: "Jacquarda Bastarda 9", serif;
}

.Banner {
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  text-align: left;
}

.Banner h1 {
  margin: 0;
  color: black;
  font-size: 50px;
}

.pic {

  width: 85vh;
  height: auto;
  position: relative;
  bottom: 60vh;
  left: 80vh;
}

/* Landing page styles */
.landing-container {
  display: flex;
  flex-direction: column; /* Change back to column for separate lines */
  height: 100vh;
}

.mainPage {
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.left-text{
  font-size: 75px;

  margin: 0 0 20px 0; /* Adjusted margin for space, leave room for the picture below */
  position: relative;
  left: 7vh;
}

.right-text {
  font-size: 75px;
  margin: 0 0 20px 0; /* Adjusted margin for space, leave room for the picture below */
}

.space {
  height: 10px;
}

.exerpt {
  text-align: left;
  color: #000000;
  margin: 10px 0; /* Adjusted margin for better spacing */
  font-size: 16px;
  padding: 20px;
  font-family: "Jacquarda Bastarda 9", sans-serif;
  max-width: 35%;
}
