@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Madimi+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Global styles */
body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

.Banner {
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  text-align: left;
}

.Banner h1 {

  margin: 0;
  color: black;
  font-size: 50px;
}

.pic {

  width: 50%;
  height: auto;
  position: relative;
  bottom: 60%;
  left: 55%;
  padding: 1%;
  border: 30% black;
  border-style:solid;
  border-width: 5px;
}

/* Landing page styles */
.landing-container {
  display: flex;
  flex-direction: column; /* Change back to column for separate lines */
  height: 100vh;
}

.mainPage {
  width: 30%;
  height: auto;
  background: linear-gradient(45deg, RGB(255, 153, 153),  RGB(255, 204, 153), RGB(204, 255, 153),RGB(153, 204, 255),RGB(187, 153, 255),RGB(229, 204, 255),RGB(255, 204, 255));
  font-size: 20px;
  font-weight: bold;
  width: 30%;
  position: relative;
  left: 35%;
	font-family: "Madimi One", sans-serif;
}

.left-text{
  font-size: 75px;
  font-family: "lobster", sans-serif;
  /* margin: 0 0 20px 0; Adjusted margin for space, leave room for the picture below */
  position: relative;
  left: 8%;
  top: 5%;
}

.right-text {
  font-size: 75px;
  font-family: "lobster", sans-serif;
  /* margin: 0 0 20px 0; Adjusted margin for space, leave room for the picture below */
  position: relative;
  left: 7%;

}

.space {
  height: 10px;
}

.exerpt {
	font-family: "PT Sans", sans-serif;
  text-align: left;
  color: #000000;
  margin: 10px 0; /* Adjusted margin for better spacing */
  font-size: 16px;
  padding: 20px;
  /* font-family: "Jacquarda Bastarda 9", sans-serif; */
  
  /* font-weight: bold; */
  max-width: 35%;
  position: relative;
  left: 2%;
  bottom: 3%;
  text-align: center;
}
