@import url('https://fonts.google.com/share?selection.family=Ojuju:wght@200..800');

.Banner {

  background-color: hsl(0, 0%, 100%); /* Banner background color (blue) */
 
  padding: 15px; /* Padding around banner content */
  text-align: center; /* Center-align banner content */

}
.Banner h1 {
  margin: 0; /* Remove default margin */
  color: black; /* Text color */
  font-size: 50px;
  font-family: "Jacquarda Bastarda 9", serif
}